backcall==0.2.0
cffi==1.7.0
colorama==0.4.5
decorator==5.1.1
environs==9.5.0
grpcio==1.48.1
grpcio-tools==1.48.1
ipython==7.34.0
jedi==0.18.1
marshmallow==3.18.0
matplotlib-inline==0.1.6
numpy==1.21.6
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.31
protobuf==3.19.5
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
python-dotenv==0.21.0
python-libmagic==0.4.0
simple-chalk==0.1.0
six==1.16.0
stability-sdk==0.2.6
traitlets==5.4.0
wcwidth==0.2.5
wincertstore==0.2

# certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi