$-pink-theme: #F39CB5;
$-purple-theme: #8366B8;
$-blue-theme: #B8CDF8;

#streamer-sidebar-component {
  position: relative;
  top: 0;
  left: 0;
  height: 653px;
  width: 202px;
  box-sizing: border-box;
  border-top: 1px solid #292929;
  border-left: 1px solid #292929;
  border-bottom: 1px solid #292929;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  backdrop-filter: blur(10px);
  background: #ffffff50;
  z-index: 20;
}

#streamer-sidebar-component::-webkit-scrollbar-thumb {
  border-top: 20px solid #BAA7DC;
  border-bottom: 20px solid #BAA7DC;
}

.streamer-list-wrapper {
  width: 203px;
}

.streamer-list-item-false {
  //background: blue;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.streamer-list-item-true {
  background: #BAA7DC;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.streamer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  font-size: 24px;
  height: 773px;
  direction: rtl;
}

.streamer-list li {
  border-bottom: 1px solid #292929;
  padding: 8px 8px 8px 24px;
  cursor: pointer;
  direction: ltr;
}


@media (max-width: 1000px) {

  #streamer-sidebar-component {
    position: absolute;
    left: 0;
    height: 99%;
    margin-left: 12px;
  }

  .streamer-list li {
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid black;
  }
}

@media (max-width: 600px) {
  #streamer-sidebar-component {
    height: 100%;
    width: 100px;
    backdrop-filter: none;
    background: #ffffff99;
  }

  .streamer-list-wrapper {
    width: 100%;
  }

  .streamer-list {
    height: 100%;
  }

  .streamer-list li {
    padding: 8px;
    font-size: 10px;
  }
}