// Global Navbar Styles

#navbar-component 
    display: block
    position: fixed
    top: 0
    left: 30vw
    padding: 2vh 7vw 2vh 7vw
    width: 100vw
    min-height: 5vh
    // color: ghostwhite
    // border-bottom: 1px solid black
    z-index: 10

.navbar-background-wrapper
    position: fixed
    top: -12%
    left: 0
    z-index: 1
    overflow: hidden
    pointer-events: none

.navbar-background > svg
    width: 500px
    height: 500px
    opacity: .5
    transform: scaleX(.2) scaleY(.2)


.navbar-component-true
    // background: #B8CDF8
    // background: linear-gradient(180deg, #B8CDF8 0%, #B8CDF8 50%, #B8CDF8 75%, transparent 100% )
    transition: .5s

.navbar-component-false
    // background: #FD87AA
    // background: linear-gradient(180deg, #FD87AA 0%, #FD87AA 50%, #FD87AA 75%, transparent 100% )
    transition: .5s

.navbar-links 
    display: flex
    justify-content: left
    align-items: center
    margin: 0px
    padding: 0px    
    list-style: none
    text-align: left
    font-size: 1rem

.navbar-links > *
    margin-right: 2em

#search-form
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    height: 50px
    > * 
        margin-left: 20px

#search-input
    min-width: 300px

#search-submit
    border: 1px solid black
    color: aliceblue
    border-radius: 3px
    padding: 5px
    cursor: pointer
    transition: 1s
    background: #6441a5
    font-weight: 700
    letter-spacing: .1em
    &:hover
        transition: .5s
        background-color: rgba(255, 200, 255, 1)
        color: black
        // color: lavender
        // font-weight: bold
        // padding: 10px
        // transform: translate(-10px, -1px)

.nav-title-wrapper
    position: fixed
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    top: 10px
    right: 15%
    height: 60px
    width: 35vh

#display-true 
    opacity: 1
    transition: .5s


#display-false 
    opacity: 0
    transition: .5s
    transform: translateX(-50px)


.nav-title    
    font-size: 30px
    font-weight: 400
    margin: auto

.nav-pepe
    position: fixed
    top: 65px
    left: 1240px
    height: 25px

@media (max-width: 1000px)
    #search-form
        width: 350px

    #search-form > label
        font-size: .7em
        margin-left: 30px
        display: none

    #search-input
        min-width: 10vw

    #display-true 
        display: none

    #display-false
        display: none