$lavander-color: #E6E6FA
  
.App 
  position: relative
  min-height: 85vh
  text-align: center
  // background-color: #1a1e25
  // color: ghostwhite
  color: #1a1e25
  // padding-bottom: 5%
  
  // background-color: $lavander-color

.App-header 
  display: flex
  min-height: 25vh
  flex-direction: column
  align-items: center
  justify-content: flex-end
  font-size: calc(10px + 2vmin)
  // background-color: #1a1e25
  // color: ghostwhite
  color: #1a1e25
  // background-color: $lavander-color

.streams-component-wrapper
  position: relative  

.sub-header
  margin: 0
  padding: 0
  font-size: .5em

#site-title
  // font-family: 'Candal', sans-serif
  font-weight: 100
  letter-spacing: .3em

.bolded 
  font-weight: bold

.italicized 
  font-style: italic
  color: black

.centered
  width: 100%
  text-align: center  
  pointer-events: none

.smaller-font
  font-size: .9em    

#blob-button
  position: fixed
  top: 0
  left: -5%
  width: 300px
  z-index: 10
  animation: blob-spin 5s infinite alternate-reverse

// Blob Animation
@keyframes blob-spin
  0%
    transform: rotateZ(0) scale(1.1)
  50%
    transform: rotateZ(45deg) scale(.8)
  100%
    transform: rotateZ-(45deg) scale(1.1)     
    

.blob-1-true,
.blob-1-false,
.blob-2-true,
.blob-2-false
  cursor: pointer
  position: absolute
  transition: .1s

.blob-1-true
  fill:#B8CDF8

.blob-1-false
  fill:#FD87AA

.blob-2-true
  fill:#B8CDF8

.blob-2-false
  fill:#FD87AA

#background-2
  position: fixed
  background-color: #FD87AA
  border-top-left-radius: 50%
  border-bottom-left-radius: 70%
  top: 0
  left: 0
  height: 100vh
  width: 200vw
  z-index: -1
  // transform: translateX(100vw)
  transition: 1s

.background-2-true
  transform: translateX(-100vw)
  transition: .5s

.background-2-false
  transform: translateX(100vw)
  transition: .5s

.main-scroll-to-top
  cursor: pointer

  
@media (max-width: 1000px)  
  #blob-button
    width: 100px
    top: -5%


// .spacer
//     position: absolute
//     top: 10%
//     left: 0
//     aspect-ratio: 960/300
//     width: 100vw
//     background-repeat: no-repeat
//     background-position: center
//     background-size: cover
//     z-index: -1
  

// .layer1
//     background-image: url("./Assets/layered-waves-haikei.svg")
 
