#streams-component
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 80vw
    margin: auto


.streams-wrapper
    position: relative
    display: flex
    justify-content: center
    align-items: center
    // flex-direction: column

// Streamer Windows

.streamer-windows-wrapper
    position: relative
    display: flex
    flex-direction: column
    justify-content: center    

.streamer-window 
    text-align: left    
    > * 
        margin-top: 15px

.streamer-name
    font-size: 1.5em

// Art Windows

.art-wrapper 
    align-self: start

.chats-wrapper
    border: gray 1px solid
    height: 200px
    width: 200px

.ind-chat
    font-size: 2em
